@using comp231_002__Team1_TeamUp_SportsBooking.Models
@model Game

@{
    ViewData["Title"] = "Game details";
}

<h1>Game details</h1>

<dl class="row">
    <dt class="col-sm-3">Game ID</dt>
    <dd class="col-sm-9">@Model.GameID</dd>

    <dt class="col-sm-3">Team</dt>
    <dd class="col-sm-9">@Model.TeamId</dd>

    <dt class="col-sm-3">Court</dt>
    <dd class="col-sm-9">@Model.CourtID</dd>

    <dt class="col-sm-3">Date</dt>
    <dd class="col-sm-9">@Model.GameDate.ToShortDateString()</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.Status</dd>
</dl>

<a asp-action="MyGames" class="btn btn-secondary">Back to My Games</a>
